/* traigo fuente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colores y espaciados */
:root {
    --primary: #E3AD65;
    --secondary: #81BC6B;
    --secondary-light: #CBD9C1;
    --bg: #f4f1f1;
    --content: #171717;

    /* próximamente espaciados........... */
    /* 1rem - una vez el tam de fuente que
    usa el navegador */
    /* en mi compu -> 1x16px */
    /* nombre       tam en rem      tam en px en nav estandar */
    --spacing-xs: .25rem;
    /*4px*/
    --spacing-sm: .5rem;
    /*8px*/
    --spacing-md: 1rem;
    /*16px*/
    --spacing-lg: 1.5rem;
    /*24px*/
    --spacing-xl: 2rem;
    /*32px*/
    --spacing-xxl: 3rem;
    /*48px*/
    --spacing-xxxl: 4rem;
    /*64px*/

    /* en pc de agus -> 1 * 32px */
    /* 1*32 */
}

body {
    font-family: "Montserrat", sans-serif;
}

/* ----------------------------------------------------------- */

/* general a lo particular */
/* primero lo de siempre, luego específico por breakpoint */

header {
    background-color: var(--primary);
    color: white;
    padding: var(--spacing-lg);

    display: flex;
    /* x defecto */
    /* flex-wrap: nowrap; */
    /* flex-direction: row; */
    /* justify-content: flex-start; */

    justify-content: space-between;
    align-items: center;
}

#hamburguesa img {
    width: var(--spacing-lg);
}

#menu a {
    /* obligatoria */
    text-decoration: none;
    color: white;
    display: inline-block;
    /*yapa*/
    padding: var(--spacing-sm);
    border: 1px solid white;
}

#rrss {
    display: none;
}

/* ---------------- */
h2 {
    text-transform: uppercase;
}

section img {
    width: 100%;
}

section a {
    text-decoration: none;
    color: white;
    display: inline-block;

    background-color: var(--primary);
    border-radius: var(--spacing-xxl);
    padding: var(--spacing-sm);
}

/* ---------------- */

#fragancias {
    background-color: var(--secondary-light);
    color: var(--content);
    padding: var(--spacing-xl);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

#fragancias h2 {
    color: white;
}

#fragancias article {
    background-color: white;
    border-radius: var(--spacing-xs);
    /* https://smoothshadows.com/ */
    /* https://smoothshadows.com/#djEsMiw1LDAuMDEsMzMsMzIsMCwjMDMwNzEyLCNmM2Y0ZjYsI2ZmZmZmZiwy */
    box-shadow:
        0px 1px 1px rgba(3, 7, 18, 0.01),
        0px 5px 5px rgba(3, 7, 18, 0.01),
        0px 12px 12px rgba(3, 7, 18, 0.01),
        0px 20px 21px rgba(3, 7, 18, 0.00),
        0px 32px 33px rgba(3, 7, 18, 0.00);
}

/* div hijo directo de article */
#fragancias article>div {
    padding: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-sm);
}

#ultimosDosArticulos {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

#ultimosDosArticulos img {
    display: none;
}

/* ---------------------------------------------------- */

/* mediaqueries */

/* celular */
/* rango cerrado, de 0 a 767, solo en celu */
@media screen and (max-width: 767px) {

    /* opción 1 cambio de orden */
    /*header{
        flex-direction: row-reverse;
    }*/
    header {
        background-color: var(--content);
    }

    /* opción 2 cambio de orden / por defecto todos tienen order 0*/
    nav {
        order: -1;
    }

    /* logo - se ve iso, no se ve logo */
    #logotipo {
        display: none;
    }

    #menu {
        display: none;
    }
}

/* rangos abiertos */

/* tablet en adelante..... */
@media screen and (min-width: 768px) {
    #isotipo {
        display: none;
    }

    #hamburguesa {
        display: none;
    }

    #fragancias {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #fragancias h2 {
        width: 100%;
    }

    /* #fragancias article - todos los article HIJOS DIRECTOS de #fragancias */
    /* #ultimosDosArticulos - div dentro de #fragancias, div hermano de article, pero padre de otros
        dos article */
    #fragancias>article,
    #ultimosDosArticulos {
        flex: 1 1 35%;
    }

    #ultimosDosArticulos article {
        flex: 1;
    }
}

/* compu en adelante..... */
@media screen and (min-width: 992px) {

    #rrss {
        display: block;
    }

    #fragancias>article {
        flex: 1 1 17%;
    }

    #ultimosDosArticulos {
        flex: 2 2 36%;
        flex-direction: row;
    }

    #ultimosDosArticulos article {
        flex: 1;
    }

    #ultimosDosArticulos img {
        display: block;
    }


}